body{
  font-family: sans-serif;
  text-align: center;
}
table th, td{
  border: 1px solid black;
  empty-cells: hide;
}

div.item{
  color: Black;
  background-color: #4286f4;
}

#receipt th{
  text-align: center;
  padding: 4px;
}
